<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
        <br />
        <br />
      <%= render 'metrics_summary' %>
    </div>
  </div>
</div>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-6">
        <%= render 'investors_table', investors: @investors %>
    </div>
     <div class="col-xl-6">
        <%= render 'loaners_table', loaner: @loaners %>
    </div>
  </div>
</div>
