<div class="container-fluid">
<br />
    <%= link_to 'Back', "/loans?loaner=#{@loaner.id}" %>  <br /><br />

    <h1>All Loans Under <%= @loaner.full_name %></h1>
</div>


<%= render 'form', loan: Loan.new %>
<%= render 'loans_table', loans: @all_individual_loans %>
